<div id="FileServer" ng-init="init()">
    <div class="panel panel-default" style="width:100%;">
        <div class="panel-heading users" style="z-index:5;">
            <button id="messenger" class="btn btn-primary" style="float:right;margin-left:2px;margin-right:2px;" type="button" ng-click="messenger()" data-toggle="tooltip" data-placement="left"
                    tooltip="Goto Chat"
                    tooltip-placement="left">
                <span class="glyphicon glyphicon-align-left"></span>
            </button>
        </div>
    </div>
    <div class="panel-body">
        <div style="padding-top:5px;"><h3>Shared:</h3></div>
        <ul>
            <li ng-repeat="node in fileTree" ng-include="'tree_item_renderer.html'"></li>
        </ul>
    </div>
    <div class="panel-footer"></div>
    <script type="text/ng-template"  id="tree_item_renderer.html">
        <div ng-if="node.type == 'directory'">
            <span class="directory">
                <span style="padding-top:4px;padding-bottom:4px;padding-right:4px;" ng-click="populateFileTree(node)">
                    {{node.name}}
                    <span ng-hide="node.loading" class="glyphicon" ng-class="{'glyphicon-folder-close': !node.open, 'glyphicon-folder-open': node.open}" style="z-index:1"></span>
                    <img ng-show="node.loading" src="img/loader16.gif"/>
                </span>
            </span>
            <span ng-hide="node.root" class="directoryDownload" ng-click="downloadDirectory(node)" data-toggle="tooltip" data-placement="top"
                  tooltip="Download Folder Contents"
                  tooltip-placement="top">
                <span ng-hide="node.loading" class="glyphicon glyphicon-download-alt" style="padding:4px;"></span>
                <span ng-show="node.compressing"><i>Compressing for download </i><img src="img/loader16.gif"/></span>
            </span>
            <span class="info" ng-hide="node.root" ng-click="googleItem(node.name, node.path.indexOf('Anime') > -1 ? 'Anime' : 'Movie' )" data-toggle="tooltip" data-placement="right"
                  tooltip="info search"
                  tooltip-placement="right">
                <span ng-hide="node.loading" class="glyphicon glyphicon-info-sign"></span>
            </span>
        </div>
        <span ng-if="node.type == 'file'" class="file">
            <span style="padding-top:4px;padding-bottom:4px;padding-right:4px;" ng-click="download(node.path)" data-toggle="tooltip" data-placement="right"
                  tooltip="Download ({{node.size}})"
                  tooltip-placement="right">
                {{node.name}}
                <span class="glyphicon glyphicon-file" style="z-index:1"></span></span>
        </span>
        <ul>
            <li ng-repeat="node in node.children" ng-include="'tree_item_renderer.html'"></li>
        </ul>
    </script>
</div>