<form class="connectionControls" ng-hide="connected" name="form">
    <div class="panel panel-default">
        <div class="panel-body connection">
            <div class="form-group">
                <div class="input-group col-md-2 col-md-offset-5">
                    <input id="name" ng-maxlength="15" type="text" class="form-control" ng-disabled="connected" ng-keypress="nameKeypress($event)" ng-model="name"/>
                        <span class="input-group-btn">
                            <button id="connect" class="btn btn-primary" type="button" ng-disabled="form.$invalid" ng-click="initUser()">Boom</button>
                        </span>
                </div>
            </div>
            <div class="form-group">
                <small class="col-md-2 col-md-offset-5" ng-show="form.$invalid" style="color:red">Go away, Kyle.</small>
            </div>
        </div>
    </div>
</form>
<div class="messenger" ng-show="connected">
    <div class="messenger">
        <div class="panel panel-default" style="width:100%;">
            <div class="panel-heading users">
                <button class="btn btn-xs userButton" id="{{user.name}}" ng-repeat="user in users" ng-click="sendPrivateMessage(user.name)">{{user.name}}</button>
                <button class="btn btn-primary" style="float:right;margin-left:2px;margin-right:2px;" ng-hide="!connected" ng-click="openFileServer()" data-toggle="tooltip" data-placement="left"
                        tooltip="File Server Login"
                        tooltip-placement="left">
                    <span class="glyphicon glyphicon-transfer"></span>
                </button>
                <button id="clear" class="btn btn-danger" style="float:right;margin-left:2px;margin-right:2px;" type="button" ng-click="clearMessages()" data-toggle="tooltip" data-placement="left"
                        tooltip="Clear Messages"
                        tooltip-placement="left">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button id="disconnect" class="btn btn-danger" style="float:right;margin-left:2px;margin-right:2px;" type="button" ng-click="disconnect()" data-toggle="tooltip" data-placement="left"
                        tooltip="Disconnect"
                        tooltip-placement="left">
                    <span class="glyphicon glyphicon-off"></span>
                </button>
                <button class="btn btn-primary" style="float:right;margin-left:2px;margin-right:2px;" ng-hide="!connected" ng-click="settingsModal()" data-toggle="tooltip" data-placement="left"
                        tooltip="Settings Menu"
                        tooltip-placement="left">
                    <span class="glyphicon glyphicon-cog"></span>
                </button>
            </div>
            <div id="messagePanel" class="panel-body">
                <div ng-repeat="message in messages" class="message">
                        <span ng-if="!isAction(message.textMessage)" class="label" style="cursor:pointer;background-color:{{message.labelColor}};" data-toggle="tooltip" data-placement="left"
                              tooltip-html-unsafe="{{message.sentTo}}<br/>{{message.messageDateTime}}"
                              ng-click="sendPrivateMessage(message.sender)"
                              tooltip-placement="right">{{message.sender}}</span>
                    <span ng-if="!isAction(message.textMessage)" style="padding-left:5px;" class="messageText" ng-bind-html-unsafe="message.textMessage | parseUrlFilter:'_blank'"></span></span>
                    <span ng-if="isAction(message.textMessage)" style="font-style:italic;" ng-bind-html="actionMessage(message.textMessage, message.sender)"></span>
                    <a targe="_blank" ng-show="message.hasImage" href="{{message.imageUrl}}"><img ng-src="{{message.imageUrl}}" style="max-height: 200px;"/></a>
                </div>
                <div ng-show="settings.typingText" id="typing" style="height:5px;font-size:8pt;color:gray;"><span ng-repeat="typer in typing"> {{typer}}</span><span ng-show="typing.length"> is typing...</span></div>
            </div>
            <div class="panel-footer messageFooter">
                <div class="input-group">
                    <input id="messageText" placeholder="Things and Stuff" type="text" style="width:100%;height:33px;" ng-keypress="messageKeypress($event)" ng-focus="messageFocus()" ng-model="message"/>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" ng-click="addMessage()">Send</button>
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>